 <div class="flexbox">
   <h1>Add a cocktail!</h1>
 </div>
 <div class="flexbox">
  <div class="flex-item">

   <%= simple_form_for(@cocktail, html: {class: 'form-vertical' }) do |f| %>
    <% if @cocktail.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
        <li><%= pluralize(@cocktail.errors.count, "error") %> prohibited this @cocktail from being saved:</li>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div class="flex-item-homepage-content">
    <%= f.button :submit, class: "main-button" %>
    </div>
    <% end %>
  </div>
</div>

