<div class="flexbox">
  <div class="flex-item">
    <% ingredientName = [] %>
    <div class="flex-item-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
    url('<%= cl_image_path @cocktail.photo, height: 300, width: 300, crop: :fill %>')">
    <h3><%= @cocktail.name %></h3>
  </div>
  <% @cocktail.doses.each do |dose| %>
  <% ingredientName << dose.ingredient.name %>
  <ul>
    <li><strong>Ingredient:</strong> <%= dose.ingredient.name %></li>
    <li><strong>Description:</strong><%= dose.description %></li>
    <%= link_to "Delete", dose_path(dose),
    method: :delete,
    data: { confirm: "Are you sure?" } %>
  </ul>
  <% end %>
</div>
<div class="flex-item">
  <h3>Ingredients available</h3>
  <% @ingredients.each do |ingredient| %>
  <% if ingredientName.exclude?(ingredient.name) %>
  <ul>
    <li><%= ingredient.name %></li>
  </ul>
  <% end %>
  <% end %>

</div>
</div>

<div class="flexbox">
  <%= link_to "Add dose", new_cocktail_dose_path(@cocktail), class: "main-button" %>
</div>
<div class="flexbox">
  <%= link_to "Delete", cocktail_path(@cocktail),
  method: :delete,
  data: { confirm: "Are you sure?" }, :class => "main-button" %>
</div>
<div class="flexbox">
  <%= link_to "Home", cocktails_path, class: "main-button-home"  %>
</div>
